* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items:stretch;
    font-family:  Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    padding: 16px;
}

.container {
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.header a, .main-text p, #footer-text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
    text-decoration: none;
}

.links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.main {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 48px 16px;
}

.main-text {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-text h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 60px;
    padding-bottom: 64px;
}

.information h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 32px;
}

.info-holder {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    text-align: center;
}

.info {
    max-width: 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 70px 16px;
}

.quote-holder {
    display: flex;
    flex-direction: column;
}

#quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

#quoted-person {
    font-size: 20px;
    font-weight: bolder;
    color: #1F2937;
    align-self: flex-end;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 32px;
    margin: 0 80px;
}

.box {
    display: flex;
    flex: 1;
    background-color: #3882F6;
    padding: 50px 0;
    border-radius: 8px;
    justify-content: space-around;
}

.prompt {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.prompt p {
    color: #F9FAF8;
}

#main-prompt {
    font-weight: bold;
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #1F2937;
    padding: 32px 16px;
}

#footer-text {
    flex: 1;
}

button {
    max-width: fit-content;
    padding: 10px 32px;
    color: #F9FAF8;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #3882F6;
}

#signup-button {
    border: 2px solid #F9FAF8;
}

img {
    max-height: 200px;
}

.image {
    max-height: 300px;
}
