* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items:stretch;
    font-family:  Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    padding: 16px;
}

.container {
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.header a, .main-text p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
    text-decoration: none;
}

.links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.main {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 48px 16px;
}

.main-text {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-text h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
    padding-bottom: 64px;
}

.information h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 32px;
}

.info-holder {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    gap: 64px;
    text-align: center;
}

.info {
    max-width: 200px;
}

button {
    max-width: fit-content;
    padding: 10px 32px;
    color: #F9FAF8;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #3882F6;
}

img {
    max-height: 200px;
}

.image {
    max-height: 300px;
}
